## Deliverable 2. Create a Customer Travel Destinations Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np  
import matplotlib.pyplot as plt

# Import API key
from config import Google_api_key

# Configure gmaps API key
gmaps.configure(api_key=Google_api_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/kethr/Desktop/Class/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barstow,US,34.8986,-117.0228,65.55,43,0,3.96,clear sky
1,1,Mahebourg,MU,-20.4081,57.7000,78.26,69,40,11.50,scattered clouds
2,2,Tuktoyaktuk,CA,69.4541,-133.0374,23.00,93,90,9.22,overcast clouds
3,3,Voyvozh,RU,62.8920,54.9635,25.02,92,100,3.20,overcast clouds
4,4,Sukumo,JP,32.9333,132.7333,61.03,93,100,5.12,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Mahebourg,MU,-20.4081,57.7000,78.26,69,40,11.50,scattered clouds
6,6,Amahai,ID,-3.3333,128.9167,79.41,83,95,2.39,overcast clouds
28,28,Santa Maria,BR,-29.6842,-53.8069,78.10,65,0,6.91,clear sky
38,38,Acapulco,MX,16.8634,-99.8901,78.66,81,1,2.86,clear sky
39,39,Cape Town,ZA,-33.9258,18.4232,76.10,49,0,5.99,clear sky
45,45,Port Hedland,AU,-20.3167,118.5667,75.25,78,0,8.05,clear sky
52,52,Hermanus,ZA,-34.4187,19.2345,75.79,68,8,13.49,clear sky
72,72,Palu,ID,-0.8917,119.8707,75.29,97,96,1.92,overcast clouds
95,95,Payo,ID,-3.7508,103.6372,75.13,96,70,1.99,moderate rain
98,98,Victoria,HK,22.2855,114.1577,77.32,81,49,1.01,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             229
City                   229
Country                229
Lat                    229
Lng                    229
Max Temp               229
Humidity               229
Cloudiness             229
Wind Speed             229
Current Description    229
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mahebourg,MU,78.26,scattered clouds,-20.4081,57.7000,
6,Amahai,ID,79.41,overcast clouds,-3.3333,128.9167,
28,Santa Maria,BR,78.10,clear sky,-29.6842,-53.8069,
38,Acapulco,MX,78.66,clear sky,16.8634,-99.8901,
39,Cape Town,ZA,76.10,clear sky,-33.9258,18.4232,
45,Port Hedland,AU,75.25,clear sky,-20.3167,118.5667,
52,Hermanus,ZA,75.79,clear sky,-34.4187,19.2345,
72,Palu,ID,75.29,overcast clouds,-0.8917,119.8707,
95,Payo,ID,75.13,moderate rain,-3.7508,103.6372,
98,Victoria,HK,77.32,light rain,22.2855,114.1577,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {"radius": 5000,
    "types": "lodging",
    "key": Google_api_key,
    "location": {"Lat", "Lng"}}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotels["results"][0]["name"])
    except(IndexError):
        print("Hotel not found. Skipping...")

Shandrani Beachcomber Resort & Spa
HOTEL ISABELA
Hotel Morotin
HS Hotsson Smart Acapulco
Southern Sun Waterfront Cape Town
The Esplanade Hotel
Misty Waves Boutique Hotel
Hotel Santika Palu
Mess keban agung
Mini Hotel Central
Shanti Maurice Resort & Spa
Cititel Penang
Hoang Yen Canary Hotel
Villa Enata
Hotel Tesoro Los Cabos
Bredasdorp Country Manor
Pousada Monte Carmelo O Pão
Hotel not found. Skipping...
Hotel not found. Skipping...
OYO 2964 Hotel Ridho
Swiss Belhotel Manokwari
Bora-Bora Pearl Beach Resort & Spa
Kost Pria
Gondolas Forum grandchildren and grandparents
Pestana Bahia Praia
Casa Tia Villa
La Case Bambou
Cossam Guest House
Mercure Padang
Hotel Meligai Kapit
"Plantation Bed and Breakfast
Royal Crown Hotel
محمدالمبروك الاريقط
محمد هادي ال فطيح
Foyer ADM
Hotel not found. Skipping...
Bungalow 63
Die Lemoenhuis
Bonthe Holiday Village
Danny Moreno Property
Penginapan Kim
Hotel Nusantara Nabire
Beira Terrace Hotel
Posada Villaven C.A.
SEGAYA PROPERTY
Hotel Porto Santo & Spa
Hotel Atoll Emerald Miyakojima
Kandrian Station
Heritage Park Hotel
Amangalla
The Ranee Boutique Suites
Villa América
Green Valley
Hotel Maria Isabel
JABIR HOTEL
Pousada Porto De Canoas
HOTEL Sekar Sunja, Baturaja Timur, Ogan Komering Ulu
Paihuen
Aldea del Bazar Hotel and Spa
Hotel Peace Land Ishigakijima
Maikaew Damnoen Resort
Nel's Rust Self Catering Accommodation
Khách Sạn Mường Thanh Luxury Cà Mau
Grage Hotel Bengkulu
SADECK
Guesthouse Samotina
Taloa Heights
Fengshui Residence
Hotel Atlântico Rio Grande
Hotel 77 Poso
Hotel Kandamba
Mantra Trilogy Cairns
Forestry Guesthouse
Hotel Vitasoa
Seagulls Inn Namatani
Hotel Serra da Chela
Nacala Plaza Business Design Hotel
Maitai Lapita Village Huahine
Pension Oaoa
Hotel Plaza Providencia
Nanyang Seascape Hotel Zhuhai Hotel
Kimbe Bay Hotel
El sueño de Lampa I y II
dyd -mar Hotel
Amaloh Boutique Resort
Sunrise Attitude Hotel
Hotel not found. Skipping...
Veranda Paul et Virginie Hotel & Spa
HOTEL D'ASSISE
Posada Quinta Mi Refugio
Royal Motel
Melrose
Posada Lilia
Complexo da Familia
Auki Motel
New Pammawaddy Hotel
La Caz Oceane
Hotel Santika Luwuk
Paradise Hotel
HOTEL VD PALACE
Puri Brata
Hotel Nossa Senhora das Graças
Hotel Posada San Jose
Southern Beach Hotel & Resort Okinawa
Ambunti Lodge
Uruna Bay Retreat
Rista House & Resort
Paraiso Escondido
Pereybere Hotel & Spa
Le Rocher de Tahiti
Lamana Hotel (Port Moresby)
Sundorbon courier service
Guest House Izonk
Sun City Restaurant
Grand Kecubung Hotel
Balandra Hotel
Shelly Bay Resort
NIDA Rooms Sabak Bernam Comfort
MVC Transient Room
Hotel Manglares
Park Hotel Caiman
Montana Hotel Syariah
Htarwaya Thitsar Guest House
Yos ega cv
Taung Hlay Khar
Vila Nova Hotel
Chico's Ranch
Annex Lodge
Skyfol Ambodiafontsy
Royal Decameron Complex - Puerto Vallarta
Aracan Hotel
International Lodge Motel
Ha'apai Beach Resort
The Times Premier Lodge
Hotel Praia Morena
Urban Style by Front One
Kost Putri RABBANI
Mission Of The Sun Hotel
H10 Taburiente Playa
Hotel Residencial Centro
Dwi Putra Hotel - Ende
Aslam khan home
Weligama Bay Resort
OYO 3177 Wisma Lintang
Artemis Otel
Hotel not found. Skipping...
Hotel not found. Skipping...
Dan Caesarea Resort - Happiness Is Around
Kwepunha Retreat
Hotel Nacional Mérida
Hotel Wixel
Hotel La Casona
NIDA Rooms Phichit 55 Bang Mun Nak
DISCOVERY AMBOASARY
Frena Lodge
Sankara City
Nadeem Sweet Mart
Père Carlos
Hotel Syariah CN Darussalam
Baculin Cove Beach Resort
Hotel Moraes
Nawab Bugti House
Hotel Santa Carmem
Bienvenue chez vous
quinta antigua
Two Moons Hotel
Takalvan Motel
Kothabalaji
Hotel São Geraldo
Sheraton Nha Trang Hotel & Spa
Groote Eylandt Lodge
Kokopo Beach Bungalow Resort
Pousada Vale Aprazível
Nancy Montanes Bernardo
Hotel Merceditas
Overstone Park Hotel
OYO 598 Peony Hotel
Humacao Bed & Breakfast
Gula Jan Abdulai
Shenzhen Shanghai Hotel
Tinidee Hotel@Ranong
Hospedaje madero
Mozon Furnished Aprtments
Hotel e Restaurante Quitandinha
Coastline Guest House
Auberge du Routard
Rydges Southbank Townsville
Lambitu Hotel
Club Aphrodite
jalalpur godhaneshwer
Apart Hotel - Arianos
Baymont by Wyndham Lazaro Cardenas
Herman singh Rathore
RUMBIA RESORT VILLA
Hotel not found. Skipping...
Hotel not found. Skipping...
Sulthan Hotel International
Maharaja Hotel
Hôtel Numédia
Hotel not found. Skipping...
Macrest
KOPKAR Hotel Bintang Sintuk
Las Cabinas Del Sueño
Suankafae Resort
Hotel Srinidhi Residency
Hotel The Royal Honours
Rumah mbah Jamah
HOSPEDAJE XIMENA
Hotel Grand Continental Kuala Terengganu (4 Star)
Hotel San Rafael
Hotel not found. Skipping...
Hotel Residency Tower
la casona de juancho
Pastori 1 Jemaat Polycarpus
Hotel Raymond
ديوان الشيخ نامق محسن الراوي
Maria De Jesus
Auberge les abou
HOTEL GUAICARAMO
Puerto Princesa Inn
Hotel not found. Skipping...
DBarakah Homestay
Grand Skylight International Hotel Huizhou
Savli Resort/Hotel - Shrivardhan
Teratak Ixora Segamat
Mystic Sands Beachfront Accommodation
Hotel There
Capital O 66652 Hotel Manokamal
Kalamansig Greenhome

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mahebourg,MU,78.26,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
6,Amahai,ID,79.41,overcast clouds,-3.3333,128.9167,HOTEL ISABELA
28,Santa Maria,BR,78.10,clear sky,-29.6842,-53.8069,Hotel Morotin
38,Acapulco,MX,78.66,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
39,Cape Town,ZA,76.10,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
45,Port Hedland,AU,75.25,clear sky,-20.3167,118.5667,The Esplanade Hotel
52,Hermanus,ZA,75.79,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
72,Palu,ID,75.29,overcast clouds,-0.8917,119.8707,Hotel Santika Palu
95,Payo,ID,75.13,moderate rain,-3.7508,103.6372,Mess keban agung
98,Victoria,HK,77.32,light rain,22.2855,114.1577,Mini Hotel Central

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.loc[(hotel_df["Hotel Name"]=="")]=np.nan
hotel_df.dropna(inplace = True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mahebourg,MU,78.26,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
6,Amahai,ID,79.41,overcast clouds,-3.3333,128.9167,HOTEL ISABELA
28,Santa Maria,BR,78.10,clear sky,-29.6842,-53.8069,Hotel Morotin
38,Acapulco,MX,78.66,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
39,Cape Town,ZA,76.10,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
...,...,...,...,...,...,...,...
2042,Buloh Kasap,MY,78.71,broken clouds,2.5536,102.7640,Teratak Ixora Segamat
2050,Neiafu,TO,77.68,broken clouds,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
2051,Jonuta,MX,77.20,clear sky,18.0833,-92.1333,Hotel There
2052,Orai,IN,75.22,clear sky,25.9833,79.4667,Capital O 66652 Hotel Manokamal
2061,Bantogon,PH,79.30,broken clouds,6.5333,124.0333,Kalamansig Greenhome

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure
plt.savefig("WeatherPy_vacation_map.png")